//  Section: Hero
.hero {
  width: 100%;
  height: 684px;
  background: url('../img/hero-shot.jpg') no-repeat center center/cover;
  color: @white;
  margin-bottom: 80px;
  padding-left: 2%;
  padding-right: 2%;
  top: 0;
  left: 0;

  @media @tablet {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  @media @phone {
    width: 100%;
  }

  .header {
    margin-bottom: 230px;

    @media @tablet {
      margin-bottom: 180px;
    }
  }
}

.showcase {
  color: @white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 0px;
  top: 300px;
  height: 230px;
  text-align: center;

  @media @tablet {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 0px;
    height: auto;
    text-align: center;
  }

  h2 {
    font-size: 4.4rem;
    position: relative;
    line-height: 1.25;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: @white;

    @media @tablet {
      font-size: 3.8rem;
      width: 90%;
      padding-bottom: 20px;
    }
  }

  a.call-to-action {
    text-decoration: none;
    text-align: center;
    color: @white;
    background: @dodger-blue;
    border: none;
    width: 190px;
    height: 50px;
    border-radius: 30px;
    font-size: 2.2rem;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
    vertical-align: middle;
    padding: 13px;
    opacity: 0.9;
    transition: all 0.1s ease-in-out;

    @media @tablet {
      height: 46px;
      padding: 15px;
    }
  }

  a.call-to-action:hover {
    transform: scale(1.1);
    opacity: 1;
    // font-weight: 500;
  }
}

//  Section: Our Reach So far...
.our-reach {
  padding-bottom: 80px;
  padding-left: 2%;
  padding-right: 2%;

  @media @tablet {
    padding: 0 2%;
  }

  .title {
    padding-bottom: 30px;
    h2 {
      font-size: 3rem;
      padding: 0;

      .o-brand {
        color: #ff8617db;
      }
    }
    .underline-o-upper {
      width: 35px;
      height: 6px;
      background: @title-underline;
      border-radius: 3px;
    }
  }
  .reach-boxes {
    display: flex;
    justify-content: space-between;

    @media @tablet {
      flex-direction: column;
      justify-content: space-between;
    }

    .box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 32%;
      height: auto;
      background: @white;
      border-radius: 5px;
      box-shadow: 0 0 30px rgba(23, 188, 255, 0.1);
      font-size: 2.3rem;
      line-height: 1.35;
      text-align: center;
      padding: 5px;

      @media @tablet {
        width: 100%;
        margin-bottom: 30px;
        justify-content: center;
      }

      @media @phone {
        width: 100%;
      }

      .top-content {
        background: @white;
        width: 100%;
        height: 181px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 20px;
      }

      .bottom-content {
        background: @white;
        width: 100%;
        height: 181px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding: 0 10%;
      }

      h3 {
        color: #17a6ffa6;
        font-size: 2.6rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
  }
}

//  Section: The Mentors Difference
.difference {
  background: @white;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 80px;
  width: 100%;

  @media (max-width: 1280px) {
    align-items: flex-start;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  .side-img {
    // height: auto;
    background: url('../img/tutoring-session.png') no-repeat center right /
      cover;
    width: 50%;
    height: 400px;

    @media (max-width: 1500px) {
      width: 50%;
    }

    @media (max-width: 1000px) {
      width: 100%;
      height: 250px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-items: center;
    padding-left: 3%;

    width: 50%;
    height: 400px;
    background: @light-gray;
    // color: @white;

    @media (min-width: 1900px) {
      padding-right: 28%;
    }

    @media (max-width: 1910px) {
      width: 50%;
      padding-right: 20%;
    }

    @media (max-width: 1380px) {
      // min-width: 20%;
      padding-left: 2%;
      padding-right: 8%;
    }

    @media (max-width: 1100px) {
      // width: 100%;
      padding: 0 2%;
      padding-bottom: 15px;
      padding-top: 15px;
    }

    @media (max-width: 1000px) {
      width: 100%;
      padding: 4% 2%;
      height: 300px;
    }

    p {
      font-size: 1.8rem;
      padding-bottom: 30px;

      @media (max-width: 1100px) {
        padding: 4% 0;
      }
    }

    a {
      text-decoration: none;
      color: @dodger-blue;
      transition: all 0.3s ease-in-out;
    }

    a:hover {
      color: #fff;
    }

    .title {
      padding-bottom: 30px;

      @media (max-width: 1100px) {
        padding-bottom: 1%;
      }

      h2 {
        font-size: 3rem;
        padding: 0;
        line-height: 1.25;
        // color: @white;

        .o-brand {
          color: #17a6ffa6;
        }
      }
    }

    .btn-primary {
      // .btn-outline(@width: 120px, @height: 46px);
      width: 120px;
      height: 46px;
      font-size: 1.3rem;
      font-weight: 500;
      padding: 10px;
      background: none;
      border-radius: 30px;
      color: @dodger-blue;
      border: 1px solid @dodger-blue;
      transition: all 0.1s ease-in-out;
    }

    .btn-primary:hover {
      background: @dodger-blue;
      color: @white;
      border: none;
      transform: scale(1.1);
    }
  }
}

//  Section: Success Stories
.success-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2%;
  padding-bottom: 80px;

  @media (max-width: 960px) {
    width: 100%;
    padding-bottom: 20px;
  }

  @media @tablet {
    padding: 0 2%;
  }

  @media (max-width: 600px) {
    margin-bottom: 30px;
  }

  .title {
    padding-bottom: 30px;
    h2 {
      font-size: 3rem;
      padding: 0;

      .o-brand {
        color: #ff8617db;
      }
    }
  }

  .testimonials {
    display: flex;
    align-items: center;

    .previous {
      color: @dodger-blue;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
    }
    .previous:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
    .next {
      color: @dodger-blue;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
    }
    .next:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }

    .stories {
      display: none;

      @media (max-width: 1100px) {
        flex-direction: column;
        align-items: center;
      }

      .story {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        width: 42%;

        @media (max-width: 1100px) {
          width: 80%;
        }

        @media (max-width: 600px) {
          justify-content: center;
          width: 100%;
        }

        .story-content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          height: 380px;
          background: @white;
          border-radius: 5px;
          box-shadow: 0 0 30px rgba(23, 188, 255, 0.1);
          font-size: 2.3rem;
          line-height: 1.35;
          text-align: center;

          @media @tablet {
            width: 92%;
            height: auto;
            justify-content: center;
          }

          .top-img {
            @media @tablet {
              width: 100%;
            }
          }

          img {
            border-radius: 5px 5px 0 0;
            @media @tablet {
              width: 100%;
            }
          }

          .bottom-text {
            display: flex;

            .quote {
              padding: 25px;
              color: #f0f2f7;
              padding-top: 10px;

              @media (max-width: 600px) {
                display: none;
              }
            }

            .content {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-content: flex-start;
              text-align: left;
              padding: 10px 40px 40px 10px;
              margin-top: 30px;

              @media (max-width: 600px) {
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 10px;
                margin-top: 5px;
              }

              p {
                font-size: 1.5rem;
              }
              span {
                font-weight: 800;
                color: #313a3d;
              }
              .btn-read-more {
                margin-top: 10px;

                a {
                  color: #17a6ffa6;
                }
                .btn-read(@width: 100px);
                transition: all 0.1s ease-in-out;
              }
              a:hover {
                color: @dodger-blue;
              }
            }
          }
        }
      }
    }
    // .hide-story {
    //   @media @tablet {
    //     display: none !important;
    //   }
    // }

    // #testimonials2 {
    //   @media @tablet {
    //     display: none;
    //   }
    // }
  }

  a {
    text-decoration: none;
    color: @dodger-blue;
  }
  a:hover {
    color: @white;
  }
  .btn-primary {
    padding: 5px;
    .btn-outline(@width: 120px, @height: 46px);
    transition: all 0.1s ease-in-out;
  }

  .btn-primary:hover {
    color: @white;
  }
}

//  Section: Footer
.footer {
  padding: 0 2%;
  padding-top: 80px;
  background: @footer-bg;
  color: @footer-text;
  width: 100%;

  @media @tablet {
    padding-top: 40px;
  }
  a {
    text-decoration: none;
    color: @footer-text;
  }

  img {
    margin-bottom: 20px;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;

    @media (max-width: 600px) {
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 20px;
    }

    h2 {
      font-size: 2.5rem;
      padding-bottom: 20px;
      color: @footer-text;

      @media @tablet {
        font-size: 1.8rem;
        padding-bottom: 5px;
      }
    }
  }

  .social-media {
    .icons {
      display: flex;
      justify-content: space-evenly;

      @media (max-width: 600px) {
        justify-content: flex-start;

        i {
          margin-right: 20px;
        }
      }
    }
  }
}
