//  Section: Hero

.hero {
  width: 100%;
  height: 684px;
  background: url('../img/hero-shot.jpg') no-repeat center center/cover;
  // opacity: 0.9;
  color: @white;
  margin-bottom: 80px;

  .header {
    margin-bottom: 230px;
  }
}

.showcase {
  color: @white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 0px;
  top: 300px;
  height: 230px;

  h2 {
    font-size: 4.4rem;
    position: relative;
    line-height: 1.25;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  .call-to-action {
    text-decoration: none;
    text-align: center;
    color: @white;
    background: @dodger-blue;
    border: none;
    width: 200px;
    height: 56px;
    border-radius: 30px;
    font-size: 1.8rem;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }
}

.our-reach {
  padding-bottom: 80px;
  .title {
    padding-bottom: 30px;
    h2 {
      font-size: 3rem;
      padding: 0;

      .o-brand {
        color: @title-underline;
      }
    }
    .underline-o-upper {
      width: 35px;
      height: 6px;
      background: @title-underline;
      border-radius: 3px;
    }
  }
  .reach-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 383px;
      height: 402px;
      background: @white;
      border-radius: 5px;
      box-shadow: 0 0 30px rgba(23, 188, 255, 0.1);
      font-size: 2.3rem;
      line-height: 1.35;
      text-align: center;
      padding: 5px;

      .top-content {
        background: @white;
        width: 100%;
        height: 181px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 20px;
      }

      .bottom-content {
        background: @white;
        width: 100%;
        height: 181px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding: 0 80px;
      }

      h3 {
        color: @dodger-blue;
        font-size: 2.6rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
  }
}

.difference {
  background: @white;
  display: flex;
  margin-bottom: 80px;
  width: 100%;

  .side-img {
    // width: 55%;
  }

  .right-empty {
    width: 10%;
    background: transparent;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-items: center;
    padding-top: 30px;
    padding-left: 2%;
    width: 35%;

    p {
      font-size: 1.8rem;
      padding-bottom: 20px;
    }

    .title {
      padding-bottom: 20px;
      h2 {
        font-size: 3rem;
        padding: 0;
        // width: 600px;

        .o-brand {
          color: @title-underline;
        }
      }
    }

    .btn-primary {
      .btn-outline(@width: 120px, @height: 46px);
    }
  }
}

.success-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .title {
    padding-bottom: 30px;
    h2 {
      font-size: 3rem;
      padding: 0;

      .o-brand {
        color: @title-underline;
      }
    }
  }

  .boxes {
    padding-bottom: 80px;

    .testimonials {
      display: flex;
      justify-content: space-around;
      padding-bottom: 40px;
      .test-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 530px;
        height: 468px;
        background: @white;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba(23, 188, 255, 0.1);
        font-size: 2.3rem;
        line-height: 1.35;
        text-align: center;

        img {
          border-radius: 5px 5px 0 0;
        }

        .quote {
          padding: 25px;
          color: @light-gray;
        }

        .bottom-text {
          display: flex;

          .content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
            text-align: left;
            padding: 10px 40px 40px 10px;
            margin-top: 20px;
            p {
              font-size: 1.8rem;
            }
          }

          span {
            font-weight: 800;
          }

          .btn-read-more {
            margin-top: 10px;
            .btn-read(@width: 100px);
          }
        }
      }
    }
  }
  .btn-primary {
    .btn-outline(@width: 120px, @height: 46px);
  }
}

.footer {
  padding-top: 80px;
  background: @footer-bg;
  color: @footer-text;
  img {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 2.5rem;
    padding-bottom: 20px;
  }
  .footer-links {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    .social-media {
      .icons {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}
