.btn-outline(@width; @height) {
  width: @width;
  height: @height;
  background: none;
  border-radius: 30px;
  border: 1px solid @dodger-blue;
  color: @dodger-blue;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.btn-read(@width) {
  padding: 0;
  width: @width;
  background: none;
  border: none;
  color: @dodger-blue;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  padding: 0;
}
