.btn-outline(@width; @height) {
  width: @width;
  height: @height;
  background: none;
  border-radius: 30px;
  border: 1px solid @dodger-blue;
  color: @dodger-blue;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in-out;

  &:hover {
    background: @dodger-blue;
    color: @white;
    transform: scale(1.1);
  }
}

.btn-read(@width) {
  padding: 0;
  width: @width;
  background: none;
  border: none;
  color: @dodger-blue;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  padding: 0;

  &:hover {
    transform: scale(1.1);
    color: @dodger-blue;
  }
}
