// Color variables
@font-color: @outer-space;
@title-underline: @buttercup;
@main-accent: @dodger-blue;
@main-bg: @alabaster;
@box-bg: @white;
@footer-bg: @daintree;
@footer-text: @submarine;
@light-gray: @geyser;

// Colors Palette
@dodger-blue: #17bcff;
@buttercup: #ff8617db;
@outer-space: #313a3dd1;
@submarine: #bfc8cb;
@daintree: #012533;
@alabaster: #fafafa;
@white: #ffffff;
@geyser: #dde1e6;

// Tablet & Mobile
@phone: ~'(max-width: 450px)';
@tablet: ~'(max-width: 780px)';
@desktop: ~'(min-width: 1100px)';
